.About {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @include on-tablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);
  }
}

.bakcgroudn {
  width: 100%;
  height: auto;
  margin-bottom: 48px;

  @include on-tablet {
    margin-bottom: 56px;
  }

  @include on-desktop {
    margin-bottom: 56px;
  }
}

.AboutTitle {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  color: #292929;
  padding: 0 20px;

  @include on-tablet {
    grid-column: span 2;
    padding: 0 72px;
  }

  @include on-desktop {
    grid-column: span 4;
    padding: 0 120px;
  }
}

.AboutText {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  color: #292929;
  padding: 0 20px;

  @include on-tablet {
    grid-column: span 2;
    width: 288px;
    height: 423px;
  }

  @include on-desktop {
    grid-column: span 6;
    width: 498px;
    height: 269px;
    margin-left: auto;
  }
}

.contactTItle {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0;
  color: #292929;
  margin-top: 104px;
  padding: 0 20px;

  @include on-tablet {
    grid-column: span 2;
    padding: 0 72px;
    margin-top: 503px;
  }

  @include on-desktop {
    grid-column: span 4;
    padding: 0 120px;
    margin-top: 341;
  }
}

.containerr {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding: 20px;
}

.fone {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0;
  color: #9393a3;
}

.glava {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  color: #191919;
}

.fonoglava {
  width: 280px;
  height: 244px;
  padding: 0 20px;

  @include on-tablet {
    width: 392px;
    height: 244px;
    padding: 0 72px;
    grid-column: 1 / 6;
    margin-top: 0;
  }

  @include on-desktop {
    width: 498px;
    height: 244px;
    margin-left: auto;
    padding: 0 120px;
    grid-column: 6 / 12;
    margin-top: -350px;
    margin-right: 300px;
  }
}

.linkg {
  text-decoration: none;
}
