.pole {
  margin: 0 auto;
  font-family: 'Space Grotesk', sans-serif;
  display: block;
  padding: 0 20px;

  @media (min-width: 745px) and (max-width: 1260px) {
    padding: 0 72px;
  }

  @media (min-width: 1261px) {
    padding: 0 120px;
  }
}

.pole input,
.pole textarea,
.pole button {
  display: block;
  margin-bottom: 16px;
  height: 48px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0 15px;
  font-size: 16px;
  opacity: 1;
  border: 2px solid #ccc;
  transition: border-color 0.3s ease;
}

.pole textarea {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0;
  min-height: 100px;
  padding: 10px 15px;
  height: auto;
  resize: none;
}

.pole input:focus,
.pole textarea:focus {
  border: 1px solid #292929;
}

.pole input:hover,
.pole textarea:hover {
  border: 1px solid #d5d7de;
}

.pole button {
  background-color: #292929;
  color: #fff;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  text-align: center;
  border-radius: 2px;
  border-color: #f0f1f4;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pole button:hover {
  background-color: #f8f8fa;
  color: #292929;
}

.pole button:active {
  background-color: #111;
  color: #fff;
}

@media (max-width: 744px) {
  .pole input,
  .pole textarea,
  .pole button {
    width: 280px;
  }
}

@media (min-width: 745px) and (max-width: 1260px) {
  .pole input,
  .pole textarea,
  .pole button {
    width: 600px;
  }
}

@media (min-width: 1261px) {
  .pole input,
  .pole textarea,
  .pole button {
    width: 411px;
  }
}

input::placeholder,
textarea::placeholder {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0;
  color: #7e7e83;
}
